html {
  background-color: #cccccc;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  margin: 0;
  counter-reset: ol-count;
}

.page {
  background-color: white;
  padding: 96px;
  width: 624px;
  line-height: 2em;
  margin-bottom: 48px;
  position: relative;
}

.content {
  height: 864px;
  overflow-y: hidden;
}

.page-number {
  position: absolute;
  right: 48px;
  top: 48px;
}

.section {
  overflow-y: hidden;
}

.section-header {
  font-size: 1em;
  width: 100%;
  padding-top: 0;
  padding-bottom: 16px;
  margin: 0;
}

.section-header > a,
.page-number > a,
.contents-listing > a {
  text-decoration: none;
  color: inherit;
}

.section-header > a {
  display: block; border-bottom: 1px solid gray;
}

.contents-listing {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gray;
}

.main-title {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0;
}

.content-table {
  border-collapse: collapse;
  line-height: 1.5em;
}

.section > .content-table > tbody > tr:last-child > td {
  padding-bottom: 20px;
}

.bullet-td {
  vertical-align: top;
  text-align: right;
  padding-left: 20px;
  padding-right: 10px;
}

.ul > tbody > tr > .bullet-td::before {
  content: "\2022";
}

.start-num {
  counter-reset: ol-count;
}

.ol > tbody > tr > .bullet-td::before {
  counter-increment: ol-count;
  content: counter(ol-count) ".";
}

.content-td {
  vertical-align: top;
}

@media print {
  .page {
    margin-bottom: 0;
  }
}
