html {
  background-color: #cccccc;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  margin: 0;
}

.page {
  background-color: white;
  padding: 96px;
  width: 624px;
  margin-bottom: 48px;
  position: relative;
}

.content {
  height: 864px;
}

.page-number {
  position: absolute;
  right: 48px;
  top: 48px;
}

.section {
  overflow-y: hidden;
}

.section-header {
  font-size: 1em;
  width: 100%;
  padding-top: 0;
  padding-bottom: 16px;
  margin: 0;
}

.section-header > a,
.page-number > a,
.contents-listing > a {
  text-decoration: none;
  color: inherit;
}

.section-header > a {
  display: block; border-bottom: 1px solid gray;
}

.contents-listing {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subsection-contents-listing {
  padding-left: 30px;
}

.main-title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 0;
}

.content-table {
  border-collapse: collapse;
  line-height: 1.5em;
}

.section > .content-table > tbody > tr:last-child > td {
  padding-bottom: 20px;
}

.bullet-td {
  vertical-align: top;
  text-align: right;
  padding-left: 20px;
  padding-right: 10px;
}

.content-td {
  vertical-align: top;
}

@media print {
  .page {
    margin-bottom: 0;
  }
}
